// Place all the styles related to the kintais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.fixed-0   {
    position: fixed;
    top: 100px;
    left: 10px;
}

p.fixed-1   {
    position: fixed;
    right: 1;
    bottom: 0;
}

p.fixed-2   {
    position: fixed;
    top: 60px;
    left: 10px;
}
